<<<<<<< HEAD
body{
    background-color: #000000;
    margin: 0;
    padding:0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
nav{
    text-align: center;
}
span{
    text-align: justify;
    padding: 5%;
}
footer{
    background-color: #1E1A13;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0;
    opacity: 1;
}
a {
    color: #ffffff;
}

.bg-hero{
    width: 100%;
}
.bg-hero img{
    width: 100%;
}

.desc-section{
    width:100%;
    display: inline-block;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}
.desc-section  div { 
    display: inline-block;
    width: 40%;
    text-align: justify;
}
.desc-section  section {
    display: inline-block;
    width: 40%;
}
.desc-section section img {
    width: 250px;
}
.icons-section{
    text-align: center;
    background-color: #1E1A13;
    padding-top: 25px;
    width:100%;
}
.icons-section section{
    display: inline-block;
    width:30%;
    padding-top: 25px;

}
.icons-section section i{
    font-size:50px;
    color:#ffffff;
}

.tipos-iguanas{
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    display: inline-block;
}
.tipos-iguanas section{
    display: inline-block;
    width: 30%;
}
.tipos-iguanas section img{
    height: 200px;
    width:90%;
=======
body{
    background-color: #000000;
    margin: 0;
    padding:0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
nav{
    text-align: center;
}
span{
    text-align: justify;
    padding: 5%;
}
footer{
    background-color: #1E1A13;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0;
    opacity: 1;
}
a {
    color: #ffffff;
}

.bg-hero{
    width: 100%;
}
.bg-hero img{
    width: 100%;
}

.desc-section{
    width:100%;
    display: inline-block;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}
.desc-section  div { 
    display: inline-block;
    width: 40%;
    text-align: justify;
}
.desc-section  section {
    display: inline-block;
    width: 40%;
}
.desc-section section img {
    width: 250px;
}
.icons-section{
    text-align: center;
    background-color: #1E1A13;
    padding-top: 25px;
    width:100%;
}
.icons-section section{
    display: inline-block;
    width:30%;
    padding-top: 25px;

}
.icons-section section i{
    font-size:50px;
    color:#ffffff;
}

.tipos-iguanas{
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    display: inline-block;
}
.tipos-iguanas section{
    display: inline-block;
    width: 30%;
}
.tipos-iguanas section img{
    height: 200px;
    width:90%;
>>>>>>> 84fb90846a4433896be1286075798e7f68b70842
}