@import '../abstracts/variables';

  @mixin opensans_text ($font-color, $given-font-size, $given-font-weight, $given-font-style) {
  font-family: $opensans;
  color: $font-color;
  font-size: $given-font-size;
  font-weight: $given-font-weight;
  font-style: $given-font-style;
}

@mixin raleway_text ($font-color, $given-font-size, $given-font-weight, $given-font-style) {
  font-family: $raleway;
  color: $font-color;
  font-size: $given-font-size;
  font-weight: $given-font-weight;
  font-style: $given-font-style;
}
