<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 5</title>
    <style media="screen" type="text/css">
        body {
        margin: 0;
        padding: 0;
        }
        .main {
        margin: 5px;
        }
        .flag__container {
        border: 1px solid #808080;
        height: 150px;
        width: 300px;
        box-sizing: border-box;
        display: inline-block;
        }

        .grid__container{
        display: inline-block;
        }
    }
        

        </style>
</head>
<body>
    <section class="main">
            <div class="grid__container">
                <div class="flag__container">
                    <div style="height:50px; width:300px; background-color: red; "></div>
                    <div style="height:50px; width:300px; background-color: yellow; "></div>
                    <div style="height:50px; width:300px; background-color: red;"></div>
                </div>
                <div>España</div>
            </div>


            <div class="grid__container">
                <div class="flag__container">
                    <div style="height:50px; width:300px; background-color: red; "></div>
                    <div style="height:50px; width:300px; background-color: yellow; "></div>
                    <div style="height:50px; width:300px; background-color: red;"></div>
                </div>
                <div>España</div>
            </div>

            <div class="grid__container">
                <div class="flag__container">
                    <div style="height:50px; width:300px; background-color: red; "></div>
                    <div style="height:50px; width:300px; background-color: yellow; "></div>
                    <div style="height:50px; width:300px; background-color: red;"></div>
                </div>
                <div>España</div>
            </div>

            <div class="grid__container">
                <div class="flag__container">
                    <div style="height:50px; width:300px; background-color: red; "></div>
                    <div style="height:50px; width:300px; background-color: yellow; "></div>
                    <div style="height:50px; width:300px; background-color: red;"></div>
                </div>
                <div>España</div>
            </div>
    </section>
</body>
</html>