<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 8</title>
    <style media="screen" type="text/css">
    html, body {
    margin: 0;
    padding: 0;
    }
    .main {
        text-align: center;
        align-items: center;
        position: relative;
    }

    .ribbon{
        position: absolute;
        float: right;
        top:0;
    }

    }
</style>
</head>
<body>
    <section class="main">
        <div>
            <h1>Este es el sitio del dia</h1>
            <img src="../../assets/img/ejercicio-7_awwwards.png" class="ribbon">
        </div>
    </section>
</body>
</html>