$white: #FFFFFF;
$lightgrey:#818181;
$darkgrey: #4d4d4d;
$black: #001514;
$aqua: #92dce5;
$palered: #ef6461;

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;