$white: #FFFFFF;
$black: #001514;

$red: #FF0000;
$bostonunired: #CC0000;
$ceruleanblue: #3B4CCA;
$goldenyellow: #FFDE00;
$goldfoil:  #B3A125;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$josefin: 'Josefin Sans', sans-serif;
$pressstart: 'Press Start 2P', cursive;
