@import '../abstracts/variables';
@import '../abstracts/mixins';


.navigation{
    color: $white;

    p{
        color: $black;
        font-family: $roboto;
        font-size: larger;
    }

    a{
        color: $black;
        font-family: $poppins;
        font-size: xx-large;
    }
}

