body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

#calculadora{
    background-color: #d5c7df;
    align-items: center;
    display: inline-table;
}

#calculadora button{
    border-color: #493657;
}