body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0;
}

footer{
    background-color: #e83e8c;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer img{
    max-height: 100px;
}

.navbar a{
    color: #ffffff;
}
.navbar i{
    background-color: #e83e8c;
    color: #ffffff;
}
.card-deck {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rosa{
    background-color: #e83e8c;
}

.titulo{
    text-align: center;
    font-weight: bold;
    color:#707070;
    font-size: 60px;
    padding-top: 5%;
}

h1{
    font-weight: bold;
}

h5{
    font-weight: bold;
}

#productos {
    text-align: justify;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#pagos {
    text-align: center;
    background-color: #17a2b8;
    color: #ffffff;
}

#pagos i{
    color:#ffffff;
    padding-right: 2%;
}