@import "../abstracts/variables";
@import '../abstracts/mixins';

aside{
    width:25%;
    display: inline-block;
    margin-bottom: 25%;
    float: left;

    .aside__acerca-de {
    border-bottom: 1px solid gray;
    max-height:25%;
    }

    .aside__tags{
    border-bottom: 1px solid gray;    
    }

    img{
        width: 220px;
        height: 200px;
    }    

}

@media only screen and (max-width: 800px) {

    .aside{
        display:none;
    }

}

