body{
    margin:0;
    padding:0;
    font-family: 'Cabin', sans-serif;
    color:#373A3C;
}

nav a{
    color: #dddddd;

}

#featured{
    display: inline-block;
    max-width:90%;
}

#featured img{
    max-width:90%;
    align-content: center;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
}

ol.carousel-indicators li {
    background:#DDDDDD;
    margin-left: .5rem;
    margin-right: .5rem;
}

ol.carousel-indicators li.active {
    background:#373a3C;
}

#receta li{
        list-style-type:none;
}

#receta{
    text-align: justify;
}

hr{
    border: none;
    height: 2px;
    max-width:80%;
    background-color: #373A3C;
}

.titulos{
    text-decoration-line: underline;
    font-weight: bold;
}
