<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 8</title>
    <style media="screen" type="text/css">
    html, body {
    margin: 0;
    padding: 0;
    }
    .main {
        text-align: center;
        align-items: center;
        position: relative;
    }

    .product{
        position: relative;
        border: 2px solid #dadada;
    }
    .ribbon{
        position: absolute;
        top:60%;
        left:55%;
        width:75px;
        height:75px;
    }

    }
</style>
</head>
<body>
    <section class="main">
        <div>
            <div style="height:300px">
                <img src="../../assets/img/ejercicio-6.png" class="product">
                <img src="../../assets/img/ejercicio-6_ribbon.png" class="ribbon">
            </div>
            <div>
                <p>Energia Extra Bateria 10000 Mah</p>
            </div>
    </div>
    </section>
</body>
</html>