<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 7</title>
    <style media="screen" type="text/css">
    html, body {
    margin: 0;
    padding: 0;
    }
    .main {
        text-align: center;
        align-items: center;
    }

    .product{
        position: relative;
    }
    .ribbon{
        position: absolute;
        top:0;
        left:40%;

    }
  

    }
</style>
</head>
<body>
    <section class="main">
        <div>
            <img src="../../assets/img/ejercicio-5_item.jpg" class="product">
            <img src="../../assets/img/ejercicio-5_ribbon.png" class="ribbon">
        </div>
    </section>
</body>
</html>