@import "../abstracts/variables";
@import '../abstracts/mixins';

.contenedor__seccion-principal{
    text-align: center;
    margin-top: 5%;
}

.contenedor-seccion-principal__interno{
    display: inline-block;
    background-color: $white;
    width: 90%;
}

.section__newsletter {
    width: 100%;
    background-color: $grey;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

    .section-newsletter__boton{
        background-color: $coral;
        border: none;
        font-family: $primary-font;
        font-size:small;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding:2px 8px;
        margin: 2px 2px;
        cursor: pointer;
    }
}

.section__noticias{
    float: left; 
    width:80%;
    text-align: center;
}

.section-noticias__noticia-individual{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    width: 25%;
    padding: 2%;
    text-align: left;

    img{
        height: 400px;
        max-width: 210px;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 

    .section-noticias__noticia-individual{
        width: 47%;
        
        img{
            width: 100%;    
            }
    }
        
    .section__noticias{
        width:100%;
        }
        
 }

@media only screen and (max-width: 459px) {

    .section-noticias__noticia-individual{
        width: 100%;
        text-align: center;

        img{
            max-width: 100%;    
        }
    }

    .section__noticias{
        width:100%;
    }

    .contenedor-seccion-principal__interno{
        width:100%;
    }
}