@import "../abstracts/variables";
@import '../abstracts/mixins';

body{
    font-family: $primary-font;
}

.contenedor__externo{
    text-align: center;
}

.lalafel{
    background-color: blue;
}
.article{
    margin-top: 10%;
    display: inline-block;
    background-color: #dedede;
    width: 90%;
}

.section__newsletter {
    width: 100%;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.section__noticias{
    float: left; 
    width:75%;
}

.section-noticias__noticia-individual{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    width: 25%;
    padding: 15px;

    img{
        height: 300px;
        max-width: 210px;
    }

    p{
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 800px) {

    .section-noticias__noticia-individual{
        width: 33.33%;

        img{
            max-width: 100%;
        }
    }

    .section__noticias{
        width:100%;
    }

}

@media only screen and (max-width: 320px) {

    .section-noticias__noticia-individual{
        width: 75%;

        img{
            max-width: 100%;
        }
    }

    .section__noticias{
        width:100%;
    }
}

