@import "../abstracts/variables";

h1{
    font-family: $primary-font;
    font-size:x-large;
}

h2{
    font-family: $primary-font;
    font-size: larger;
}

h4{
    font-family: $primary-font;
    font-size: medium;
}

p{
   font-family: $primary-font;
   font-size: small;
}

a{
    font-family: $primary-font;
    font-size: small;
    text-decoration: none;
 }